#mySvg {
    width: 100%;
    height: 100%;
}

.flex-container {
    justify-content: flex-start;

    width: 75%; /* Width is set to 75% of the parent container */
  height: 100%; /* Height is set to 100% of the parent container */
    display: flex;
    padding: 15px;
    gap: 5px;

}

.flex-container>div {
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}


.forest {
    /* flex:1 1 auto; */
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}

.item2 {
    /* flex:1 1 auto; */
    flex-grow: 1;
}

/* Media query - Adapt to 810x1080 (3:4) ratio */
@media screen and (max-width: 1080px) and (max-height: 1440px) {
    .container {
        width: 100%;
        /* Width is set to 100% of the parent container */
        height: 100%;
        /* Height is set to 100% of the parent container */
    }
}

/* Media query - Adapt to 2560x1440 resolution */
@media screen and (min-width: 2560px) and (min-height: 1440px) {
    .container {
        width: 80%;
        /* Width is set to 80% of the parent container */
        height: 90%;
        /* Height is set to 90% of the parent container */
    }
}